.wrapper {
    width: fit-content;

    @include mxw_1024 {
        width: 100%;

        flex-direction: row;
        align-items: center;

        gap: calcFluid(35, 45);

        @include mxw_576 {
            flex-direction: column;
        }
    }


    .image {
        aspect-ratio: 1;

        object-fit: cover;

        max-width: calcFluid(150, 300);
        max-height: calcFluid(150, 300);

        width: 100%;
        height: 100%;

        border-radius: $border-radius;
    }



    .content {

        display: flex;
        flex-direction: column;

        gap: calcFluid(5, 15);

        margin-top: calcFluid(5, 5);


        &-name {

            @include font-h3;

            color: $color-primary;

        }

        &-bio {
            @include font-h4;
        }

        &-location {}


        .contacts {
            display: flex;
            flex-direction: column;

            gap: calcFluid(10, 15);

            &-item {
                display: flex;
                align-items: center;

                gap: calcFluid(5, 10);

                &__icon {
                    fill: $color-primary;

                    width: calcFluid(25, 30);
                    height: calcFluid(25, 30);
                }

                &__text {}
            }
        }

    }
}