.wrapper {
    position: relative;
    display: flex;
}

.loader {
    position: absolute;
    z-index: $z-loaders;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    @include theme-color("background-color", "page");

    pointer-events: none;
    opacity: 0;
    transition: opacity $tr-time ease-in-out;
    &--show {
        opacity: 1;
        pointer-events: all;
    }


    &-progress-bar {
        width: 50%;
    }

}


.routes {
    display: flex;
    flex-wrap: wrap;
    $gap: calcFluid(10, 15);
    gap: $gap;

    height: fit-content;



    &-item {
        height: fit-content;

        @include mxw_576 {
            width: calc(100% / 2 - #{$gap});
        }

        &__content {
            display: flex;
            flex-direction: column;
        }

        &__actions {
            display: flex;
            gap: calcFluid(10, 15);
        }

    }
}