version: "3.9"

networks:
  app-network:
    driver: bridge

volumes:
  node_modules_volume:

services:

  nginx:
    image: nginx:stable-alpine

    volumes:
      - './nginx/nginx.conf:/etc/nginx/nginx.conf'
  
    environment:
      - NGINX_MODE=development
  
    networks:
      - app-network

    ports:
      - "80:80"
    depends_on:
      - frontend-build
      - api


  # * BACK
  api:
    build: .
    ports:
      - "8080:8080"

    networks:
      - app-network


  # * FRONT
  frontend-build:
    build:
      context: ./app
      dockerfile: Dockerfile
      target: production

    environment:
      NODE_ENV: production

    networks:
      - app-network

    ports:
      - "3000:3000"
