version: "3.9"

networks:
  app-network:
    driver: bridge

volumes:
  node_modules_volume:

services:

  nginx:
    image: nginx:stable-alpine

    networks:
      - app-network

    ports:
      - "80:80"
  
    volumes:
      - './nginx.conf:/etc/nginx/nginx.conf'
    
    environment:
      - NGINX_MODE=development
  
    depends_on:
      - frontend-dev
      # - api


  # * BACK
  # api:
  #   build: .
  #   ports:
  #     - "8080:8080"

  #   networks:
  #     - app-network


  # * FRONT
  frontend-dev:
    volumes:
      - ./app:/app
      - node_modules_volume:/app/node_modules

    build:
      context: ./app
      dockerfile: Dockerfile
      target: development

    ports:
      - "5173:5173"

    environment:
      NODE_ENV: development

  frontend-build:
    profiles: [production]

    networks:
      - app-network

    ports:
      - "3000:3000"

    build:
      context: ./app
      dockerfile: Dockerfile
      target: production

    environment:
      NODE_ENV: production