@use './settings/reset';
@use './settings/font';



body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    font-size: calcFluid(14, 16);

    @include theme-default;

    #root {
        min-height: 100vh;
        display: flex;
        justify-content: start;
        flex-direction: column;

        .app {

            &-content {
                position: relative;

                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }
    }
}


button {
    outline: none;
    border: none;
}


input {
    outline: none;
}

input {
    &:-webkit-autofill {
        @each $theme, $colors in $theme-colors {
            [data-theme="#{$theme}"] & {
                -webkit-box-shadow: inset 0 0 0 50px #{theme-color("page", $theme)} !important;
                -webkit-text-fill-color: #{theme-color("text", $theme)} !important;
                color: #999 !important;
                transition: all $tr-time ease-in-out;
            }
        }
    }
}