@use 'sass:map';

@use './variables' as *;
@use './functions' as *;


/* ___________________________________________
* 			        THEME
* _____________________________________________
*/
@mixin theme($type: "page") {
    @each $theme, $colors in $theme-colors {
        [data-theme="#{$theme}"] & {
            color: map.get($colors, "text");
            background-color: map.get($colors, $type);
        }
    }
}

// Если честно, я офигел, что так можно, прикольно
@mixin theme-text-color($alpha: 1.0) {
    @each $theme, $colors in $theme-colors {
        [data-theme="#{$theme}"] & {
            color: rgba($color: theme-color("text", $theme), $alpha: $alpha);
        }
    }
}

@mixin theme-color($property, $type: 'text', $alpha: 1.0) {
    @each $theme, $colors in $theme-colors {
        [data-theme="#{$theme}"] & {
            #{$property}: rgba($color: theme-color($type, $theme), $alpha: $alpha);
        }
    }
}



/* ___________________________________________
* 			        FONT
* _____________________________________________
*/
@mixin font-h1 {
    font-weight: 600;
    font-size: calcFluid(27, 53);
}

@mixin font-h2 {
    font-weight: 600;
    font-size: calcFluid(24, 45);
}

@mixin font-h3 {
    font-weight: 500;
    font-size: calcFluid(24, 32);
}

@mixin font-h4 {
    font-weight: 700;
    font-size: calcFluid(14, 24);
}

@mixin font-p {
    font-size: calcFluid(14, 16);
}

@mixin font-big {
    font-size: calcFluid(16, 18);
}

@mixin font-small {
    font-size: calcFluid(12, 14);
}

@mixin font-color {
    color: $color-primary;
}


//* MEDIA
@mixin mxw_1920 {
    @media screen and (max-width: 1921px) {
        @content;
    }
}

@mixin mxw_1440 {
    @media screen and (max-width: 1441px) {
        @content;
    }
}

@mixin mxw_1280 {
    @media screen and (max-width: 1280px) {
        @content;
    }
}


@mixin mxw_1080 {
    @media screen and (max-width: 1081px) {
        @content;
    }
}

@mixin mxw_1024 {
    @media screen and (max-width: 1025px) {
        @content;
    }
}


@mixin mxw_576 {
    @media screen and (max-width: 577px) {
        @content;
    }
}

@mixin mxw_425 {
    @media screen and (max-width: 426px) {
        @content;
    }
}

@mixin mxw_360 {
    @media screen and (max-width: 361px) {
        @content;
    }
}



/* ___________________________________________
* 			Вспомогательные миксины
* _____________________________________________
*/
@mixin smooth-underline() {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size $transition-time, color $transition-time ease-in-out;


    &:hover,
    &:active {
        &:not(.font--no-underline) {
            background-size: 100% 1px;

            @content;
        }
    }

    @include mxw_1024 {
        transition: background-size 0s, color $transition-time ease-in-out;
    }
}


@mixin no-underline() {
    background-image: none !important;
    background-size: 0% 0px !important;

    &:hover,
    &:active {
        background-image: none !important;
        background-size: 0% 0px !important;
    }
}




/* ___________________________________________
* 			        BUTTONS
* _____________________________________________
*/

@mixin button-default($border-radius: $border-radius,

    $size: "default",
) {
    $sizes: (
        "default": calcFluid(10, 10) calcFluid(27, 37),
    );

    cursor: pointer;

    // display and layout
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: map.get($sizes, $size);


    // text
    text-decoration: none;


    // Design
    border-radius: $border-radius;


    // Animation and mod-s
    transition: all $tr-time ease-in-out;
    @include no-underline;

    @content;
}

@mixin button-background($border-color: $color-primary,
    $background-color: $color-primary,
    $text-color: $color-white,

    $border-color-hover: $color-white,
    $background-color-hover: $color-white,
    $text-color-hover: $color-primary,
) {
    border: 2px solid $border-color;
    border-color: $border-color;
    background-color: $background-color;
    color: $text-color;

    &:hover,
    &:active {
        border-color: $border-color-hover;
        background-color: $background-color-hover;
        color: $text-color-hover;
    }

    @content;
}