$color-danger: #ba2025; // Ха, да отсылка к 2025 году
$color-warning: #ffbb10;


$color-white: #fff;
$color-black: #000;

$color-primary: #00ADB5;

$color-gray-light: #EEEEEE;
$color-gray: #393E46;
$color-gray-dark: #222831;


$text-opacity-base: 1;
$text-opacity-middle: 0.5;
$text-opacity-light: 0.35;


$transition-time: .33s;
$tr-time: $transition-time;

$border-width: 1px;
$border-radius: 14px;

$z-modals: 1000;

$z-element: 500;
$z-labels: 600;
$z-overlays: 700;
$z-modals: 700;
$z-loaders: 900;


$theme-colors: (
    'light': (
        'page': $color-gray-light,
        'element': $color-white,
        'text': $color-gray-dark,
    ),
    'dark': (
        'page': $color-gray-dark,
        'element': $color-gray,
        'text': $color-white,
    )
) !default;