.wrapper {
    cursor: pointer;

    display: flex;
    gap: calcFluid(5, 10);

    padding: calcFluid(5, 10);

    border-radius: $border-radius;

    @include theme-color("color", "text");
    @include theme-color("background-color", "page");

    transform: scale(1);
    transition: transform $transition-time ease-in-out, background-color $transition-time ease-in-out;


    &:hover {
        transform: scale(.985);

        @include theme-color("background-color", "page", .65);
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: calcFluid(2, 5);
        max-width: 85%;

        @include mxw_1024 {
            max-width: 65%;

            @include mxw_576 {
                max-width: 80%;
            }
        }

        &-title {
            @include font-big;
        }

        &-text {
            @include font-small;
            @include theme-text-color(.5);
        }
    }
}