.progress {
    background-image: linear-gradient($color-primary, $color-primary);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;

    width: 100%;
    height: 2px;

    opacity: 0;
    transition: opacity $tr-time ease-in-out;

    &--show {
        opacity: 1;
    }
}