.page {
    &-container {
        @include pageContainer;
    }
}

.section {
    &-indent {
        margin-bottom: calcFluid(30, 90);
    }
}


.wrapper {
    display: flex;
    flex-direction: column;

    gap: calcFluid(10, 15);

    padding: calcFluid(15, 25) calcFluid(10, 15);


    border-radius: $border-radius;

    @include theme-default("element");
}