.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: calcFluid(15, 30);
}


.progress {
    background-image: linear-gradient($color-primary, $color-primary);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;

    width: 100%;
    height: 2px;

    opacity: 0;
    transition: opacity $tr-time ease-in-out;

    &--show {
        opacity: 1;
    }
}


.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: calcFluid(15, 25);


    transition: opacity $tr-time ease-in-out;

    &-item {
        width: 100%;
    }

    &--loading {
        opacity: .3;
        pointer-events: none;
    }
}