.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: calcFluid(15, 30);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: calcFluid(15, 25);


    transition: opacity $tr-time ease-in-out;

    &-item {
        width: 100%;
    }

    &--loading {
        opacity: .3;
        pointer-events: none;
    }
}